<section class="main-calc-date">
  <div class="main-calc-container bg-success bg-opacity-50">
    <div class="select-date">
      <h3>지금 우리 나이는 &#129488;</h3>
      <form class="select-date-container">
        <input
          type="date"
          name="start-date"
          id="start-date"
          class="form-control birthday"
          required
        />
        <input
          class="btn btn-success"
          type="button"
          value="선택"
          onclick="getWesternAge()"
        />
      </form>
      <p id="accent" class="accent birthday-accent">
        <span>&#128140;</span>
      </p>
    </div>    
</section>
