<div id="fetch-calc-content1" style="display: none">
  <%- include('calcDate') %>
</div>
<div id="fetch-calc-content2" style="display: none">
  <%- include('calcAge') %>
</div>
<div id="fetch-calc-content3" style="display: none">
  <%- include('calcDday') %>
</div>
