<ul id="nav-pills" class="nav nav-pills mb-3">
  <li class="nav-item">
    <a
      id="nav-link1"
      class="nav-link"
      aria-current="page"
      onclick="fetchCalcContent(1)"
      >만난지.. &#128153;</a
    >
  </li>
  <li class="nav-item">
    <a
      id="nav-link2"
      class="nav-link"
      aria-current="page"
      onclick="fetchCalcContent(2)"
      >오늘 나이 &#129488;</a
    >
  </li>
  <li class="nav-item">
    <a
      id="nav-link3"
      class="nav-link"
      aria-current="page"
      onclick="fetchCalcContent(3)"
      >지금 디데이 &#128198;</a
    >
  </li>
</ul>
